* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background: rgb(224, 251, 222);
	background: linear-gradient(360deg, rgb(255,248,255) 0%, rgb(233, 116, 81) 100%);
}

.logo {
	display: flex;
	margin: 0;
	padding: 0;	
}

.logo a{
	text-decoration-line: none;
}

.logo h1{
	text-align: left;
	margin-left:50px;
	margin-top: 20px;
	color: black;
	padding-bottom: 5px;
	cursor: pointer;
	position: flex;
	
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15px;
	margin-top: 20px;
}

/* banner section styles */
.banner {
	margin: 80px 40px 80px 0px;
	background-color: none;
	text-align: left;
	padding: 50px 150px;
	padding-left: 20px;
}

.banner h1 {
	font-size:30pt;
	color: #6E260E;
}

.banner h2 {
	font-size:22pt;
	color: #8B0000;
}
.banner img {
	height: auto;
}

address {
	text-decoration: none;
}
/* Contact form styles */
.contact-form {
	padding: 60px 0;
	margin: 0 20px;
}

.form-container {
	margin-top: 10px;
	width: 100%;
	margin-right: 150px;
	padding: 30px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
	text-align: left;
	color: blue;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 20px;
}

.form-container label {
	display:block;
	font-weight: bold;
}
.form-container input, textarea{
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 1rem;
	resize: vertical;
}
.submit-button {
	padding: 10px 20px;
	background-color: #954535;
	border: none;
	color: white;
	border-radius: 4px;
	font-size: 1rem;
	cursor: pointer;
}
.submit-button:hover {
	color: #C19A6Bl;
}

/* Footer styles */
footer {
	padding: 20px;
	text-align: center;
	background-color: #333;
	color: white;
}

.icon {
	padding-top: 16px;
    padding-bottom: 16px;
	display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.icon:hover {
	color: gray;
}

h5 {
	margin: 10px 0;
	font-size:15pt;
}